<div class="control">
  <input class="input is-medium"
         placeholder="Search..."
         [formControl]="control"
         [appSearchSuggestion]="searchSuggestions"
         [categoryToSearchFunctionMap]="categoryAndSearchFunctionMap">
</div>

<p style="color: black; font-size: 18px; margin-bottom: 10px;">{{control.value}}</p>

<app-search-suggestion #searchSuggestions="appSearchSuggestion">
  <!--<ng-template appSearchSuggestionContent>
    <ng-container *ngIf="options as result">
      <app-search-result *ngFor="let option of result" [value]="option.label">
        {{ option.label }}
      </app-search-result>
      <app-search-result class="no-result" *ngIf="!result.length">No result...</app-search-result>
    </ng-container>
  </ng-template>-->
</app-search-suggestion>
